<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="./src/main.css">

    <!--vk api-->
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <!--vk api end-->

</head>
<body>

<div class="wrapper">

    <div class="title">
        <img src="src/img/title.png" alt="title">
    </div>

    <button class="open-modal">Открыть окно</button>

    <div class="drugofiltr" id="drugofiltr">

        <div class="drugofiltr-top">
            <h2 class="drugofiltr-top__title">Выберите друзей</h2>
            <button class="drugofiltr-top__btn"></button>
        </div>

        <div class="drugofiltr-middle">
            <div class="drugofiltr__left">
                <div class="drugofiltr-search">
                    <input class="search-icon drugofiltr-search__left" id="mainSearch" type="text"
                           placeholder="Начните вводить имя друга">
                </div>
                <h3 class="drugofiltr-title">Ваши друзья</h3>
                <div class="friends" id="mainList">
                    <!--<ul class="friends__list">-->
                        <!--<li class="friend">-->
                            <!--<div class="friend__left">-->
                                <!--<div class="friend__img">-->
                                    <!--<img src="src/img/frineds-1.png" alt="">-->
                                <!--</div>-->
                                <!--<h4 class="friend__name">Artem Barabanov</h4>-->
                            <!--</div>-->
                            <!--<button class="friend__plus"></button>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>

            <div class="drugofiltr__right">
                <div class="drugofiltr-search">
                    <input class="search-icon drugofiltr-search__right" id="sortedSearch" type="text" placeholder="Начните вводить имя друга">
                </div>
                <h3 class="drugofiltr-title">Друзья в списке</h3>
                <div class="friends" id="sortedList">
                    <!--<ul class="friends">-->
                        <!--<li class="friend">-->
                            <!--<div class="friend__left">-->
                                <!--<div class="friend__img">-->
                                    <!--<img src="src/img/frineds-1.png" alt="">-->
                                <!--</div>-->
                                <!--<h4 class="friend__name">Artem Barabanov</h4>-->
                            <!--</div>-->
                            <!--<button class="friend__delete"></button>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>

        <div class="drugofiltr-bottom">
            <p class="messages" id="messages"></p>
            <button class="drugofiltr-bottom__btn" id="friendsSaveBtn">Сохранить</button>
        </div>

    </div>

    <div class="shadow"></div>

</div>

</body>
</html>
